<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>jdbDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDB</param-name>
        <param-value>textconverter</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcUsername</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value/>
    </context-param>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>textconverter.controlador.Controlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/CrearProyecto</url-pattern>
        <url-pattern>/CrearPaquete</url-pattern>
        <url-pattern>/SubirArchivo</url-pattern>
        <url-pattern>/MostrarTexto</url-pattern>
        <url-pattern>/Ingresar</url-pattern>
        <url-pattern>/CerrarSession</url-pattern>
        <url-pattern>/BorrarArchivo</url-pattern>
        <url-pattern>/Registrar</url-pattern>
        <url-pattern>/ProyectosListar</url-pattern>
        <url-pattern>/BorrarPaquete</url-pattern>
        <url-pattern>/Logearse</url-pattern>
        <url-pattern>/BorrarProyecto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Ingresar</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <description>Header y Footer</description>
            <url-pattern>/WEB-INF/vistas/*</url-pattern>
            <include-prelude>/WEB-INF/seccion/header.jspf</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
